@import "tailwindcss";
@import "fumadocs-ui/css/ocean.css";
@import "fumadocs-ui/css/preset.css";

:root {
	--fd-layout-width: 1440px;
}

@theme {
	--color-fd-primary: hsl(201 85% 34%);
	--color-fd-primary-foreground: hsl(210 40% 98%);
	--color-fd-accent: hsl(201 86% 90%);
	--color-fd-accent-foreground: hsl(205 82% 18%);
	--color-fd-ring: hsl(201 85% 40%);
}

.dark {
	--color-fd-primary: hsl(198 79% 60%);
	--color-fd-primary-foreground: hsl(210 40% 9%);
	--color-fd-accent: hsl(203 46% 22%);
	--color-fd-accent-foreground: hsl(197 90% 90%);
	--color-fd-ring: hsl(198 80% 60%);
}
